<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.gradle_mybatis_dev.dao.AddressMapper">
	
	<resultMap type="Address" id="resultAddress">
		<id column="addr_id" property="addrId"/>
		<result column="street" property="street"/>
		<result column="city" property="city"/>
		<result property="state" column="state"/>
        <result property="zip" column="zip"/>
        <result property="country" column="country"/>
	</resultMap>
	
</mapper>